.justify{
    justify-content: space-around;
    align-items:center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.registrationText{
font-weight: bold;
font-size: 30px;
color:#fff;
}
.scroll{
    overflow: scroll;
    
}
.formcheck.form-check{
    min-height: 0px;
}